.skills .skills-title {
  font-size: 2.1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--title);
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
.skills .icon-code {
  color: var(--subtitle);
  font-size: 2.3rem;
}
.skills-cards {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

/* React Card */
.react-card {
  background-color: transparent;
  border: 3px solid #61DAFB;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #61DAFB;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.react-card span {
  font-size: 70px;
}

/* JS Card */

.js-card {
  background-color: transparent;
  border: 3px solid #F7DF1E;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #F7DF1E;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.js-card span {
  font-size: 70px;
}
/* Html Card */

.html-card {
  background-color: transparent;
  border: 3px solid #E34F26;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #E34F26;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.html-card span {
  font-size: 70px;
}
/* Css Card */

.css-card {
  background-color: transparent;
  border: 3px solid #1572B6;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #1572B6;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.css-card span {
  font-size: 70px;
}

/* Material Ui Card */

.materialui-card {
  background-color: transparent;
  border: 3px solid #00b0ff;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #00b0ff;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.materialui-card img {
  width: 70px;
}
/* Node Js Card */

.nodejs-card {
  background-color: transparent;
  border: 3px solid #339933;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #339933;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.nodejs-card span {
  font-size: 70px;
}
/* MongoDb Card */

.mongodb-card {
  background-color: transparent;
  border: 3px solid #47A248;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #47A248;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.mongodb-card span {
  font-size: 70px;
}
/* MySQL Card */

.mysql-card {
  background-color: transparent;
  border: 3px solid #4479A1;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #4479A1;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.mysql-card span {
  font-size: 70px;
}
/* Git Card */

.git-card {
  background-color: transparent;
  border: 3px solid #F05032;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #F05032;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.git-card span {
  font-size: 70px;
}
/* Type Script Card */

.typeScript-card {
  background-color: transparent;
  border: 3px solid #007ACC;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #007ACC;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.typeScript-card span {
  font-size: 70px;
}
/* Laravel Card */

.laravel-card {
  background-color: transparent;
  border: 3px solid #FF2D20;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #FF2D20;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.laravel-card span {
  font-size: 70px;
}
/* php Card */

.php-card {
  background-color: transparent;
  border: 3px solid #777BB4;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #777BB4;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.php-card span {
  font-size: 70px;
}
.react-card:hover,
.js-card:hover,
.html-card:hover,
.css-card:hover,
.materialui-card:hover,
.nodejs-card:hover,
.mongodb-card:hover,
.mysql-card:hover,
.git-card:hover,
.typeScript-card:hover,
.laravel-card:hover,
.php-card:hover {
  background-color: var(--title);
  transform: scale(1.05);
}
@media screen and (max-width: 600px) {

  .skills .skills-title {
    font-size: 1.8rem;
  }
  .skills .icon-code {
    font-size: 2rem;
  }



  .skills-cards > div {
    width: 94px;
    height: 114px;
    font-size: 7px;
    border-radius: 12px;
    text-align: center;
  }
  .skills-cards span {
    font-size: 40px;
  }
  .materialui-card img {
    width: 40px;
  }
}
