.skills .skills-title {
  font-size: 2.1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--title);
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
.skills .icon-code {
  color: var(--subtitle);
  font-size: 2.3rem;
}
.skills-cards {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.skills-cards a {
  text-decoration: none;
}

/* React Card */
.react-card {
  background-color: transparent;
  border: 3px solid #61dafb;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #61dafb;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.react-card span {
  font-size: 70px;
}

/* JS Card */

.js-card {
  background-color: transparent;
  border: 3px solid #f7df1e;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #f7df1e;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.js-card span {
  font-size: 70px;
}
/* Html Card */

.html-card {
  background-color: transparent;
  border: 3px solid #e34f26;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #e34f26;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.html-card span {
  font-size: 70px;
}
/* Css Card */

.css-card {
  background-color: transparent;
  border: 3px solid #1572b6;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #1572b6;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.css-card span {
  font-size: 70px;
}

/* Material Ui Card */

.materialui-card {
  background-color: transparent;
  border: 3px solid #00b0ff;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #00b0ff;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.materialui-card img {
  width: 70px;
}

/* Bootstrap Card */
.bootstrap-card {
  background-color: transparent;
  border: 3px solid #7311f5;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #7311f5;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}
.bootstrap-card span {
  font-size: 70px;
}

/* Node Js Card */

.nodejs-card {
  background-color: transparent;
  border: 3px solid #339933;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #339933;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.nodejs-card span {
  font-size: 70px;
}
/* MongoDb Card */

.mongodb-card {
  background-color: transparent;
  border: 3px solid #47a248;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #47a248;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.mongodb-card span {
  font-size: 70px;
}
/* MySQL Card */

.mysql-card {
  background-color: transparent;
  border: 3px solid #4479a1;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #4479a1;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.mysql-card span {
  font-size: 70px;
}
/* Git Card */

.git-card {
  background-color: transparent;
  border: 3px solid #f05032;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #f05032;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.git-card span {
  font-size: 70px;
}
/* Type Script Card */

.typeScript-card {
  background-color: transparent;
  border: 3px solid #007acc;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #007acc;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.typeScript-card span {
  font-size: 70px;
}
/* Laravel Card */

.laravel-card {
  background-color: transparent;
  border: 3px solid #ff2d20;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #ff2d20;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.laravel-card span {
  font-size: 70px;
}
/* php Card */

.php-card {
  background-color: transparent;
  border: 3px solid #777bb4;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 30px 20px;
  color: #777bb4;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  transition: 0.5s;
}

.php-card span {
  font-size: 70px;
}
.react-card:hover,
.js-card:hover,
.html-card:hover,
.css-card:hover,
.materialui-card:hover,
.bootstrap-card:hover,
.nodejs-card:hover,
.mongodb-card:hover,
.mysql-card:hover,
.git-card:hover,
.typeScript-card:hover,
.laravel-card:hover,
.php-card:hover {
  background-color: var(--title);
  transform: scale(1.05);
}
@media screen and (max-width: 600px) {
  .skills .skills-title {
    font-size: 1.8rem;
  }
  .skills .icon-code {
    font-size: 2rem;
  }

  .skills-cards > a {
    width: 94px;
    height: 114px;
    font-size: 7px;
    border-radius: 12px;
    text-align: center;
  }
  .skills-cards span {
    font-size: 40px;
  }
  .materialui-card img {
    width: 40px;
  }
}
